[General]
init=true
bottom_container=true
trace_container=true
console_container=false
trace_msg_type_combo=4
main_container=true
nv_container=true
time_container=true
left_container=true
main_settings_container=false
main_toolbar_settings_button=false
origin_model_check=true
markers_check=false
main_settings_index=3
grid_size_combo=10
cartesian_check=true
radial_check=true
manager_control_widget=true
vision_points_check=false
vision_obstacles_check=true
vision_terrain_data_check=true
tracks_check=true
tracks_size_spinbox=0.4
amp_to_size_check=false
zone_filter_check=false
zone_filter_range_min_spin=0
zone_filter_range_max_spin=100
zone_filter_angle_min_spin=0
zone_filter_angle_max_spin=90
lane_model_check=true
lidar_points_check=true
info_tags_check=false
unk_check=false
unk_sm_check=false
unk_big_check=false
ped_check=true
bike_check=true
car_check=true
truck_check=true
barrier_check=true
cross_section_check=false
cross_section_x_offset_spin=0
cross_section_y_offset_spin=0
cross_section_z_offset_spin=-1
cross_section_x_width_spin=100
cross_section_y_width_spin=100
cross_section_z_width_spin=20
window_title=PolySync Viewer
window_geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x1\0\0\0\0\0\x9d\0\0\0\x18\0\0\x5\\\0\0\x3[\0\0\0\xa5\0\0\0\x34\0\0\x5T\0\0\x3S\0\0\0\0\0\0)
window_state=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x4\xb0\0\0\x2\xf9\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\0)
camera_position_x=-25
camera_position_y=0
camera_position_z=25
focal_point_x=0
focal_point_y=0
focal_point_z=0
view_angle=30
view_up_x=0.707106781186548
view_up_y=1.11022302462516e-16
view_up_z=0.707106781186548
clipping_range_near=0.01
clipping_range_far=1000.01
parallel_scale=1
colors=@Variant(\0\0\0\b\0\0\0\0)
origin_model_file_label=:/models/models/kia.obj
